/*body {*/
/*  background-color: #2f3136;*/
/*  font-family: "Manrope";*/
/*}*/
/*h1 {*/
/*  color: #fff;*/
/*  margin-left: 2rem;*/
/*  font-size: 36px;*/
/*  line-height: 36px;*/
/*  font-weight: 800;*/
/*}*/

/*.app-title {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  gap: 16px;*/
/*  width: 600px*/
/*}*/

/*.app-title > h1 {*/
/*  flex: 1;*/
/*}*/

/*.btn-title {*/
/*  cursor: pointer;*/
/*  background-color: #fbc333;*/
/*  height: 40px;*/
/*  border-radius: 8px;*/
/*  border: none;*/
/*  !* flex-grow: 1; *!*/
/*  color: #2f3136;*/
/*  font-size: 14px;*/
/*  line-height: 24px;*/
/*  font-weight: 600;*/
/*  font-family: "Manrope";*/
/*  padding: 0 16px;*/
/*}*/

/*.btn-secondary {*/
/*  background: #36393f;*/
/*  color: #ffffff;*/
/*}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
